:root {
  
}

body {
 display: flex;
 justify-content: center;
 height: 100vh;
}

main{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vh;
}

.container {
  padding: 24px;
  width: 100vh;
}

h1{
  text-align: center;
}

.theme-container {
  display: flex;
}

.reservation-status {
  display: flex;
  gap: 1rem;
}

.status {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.status .icon {
  margin-right: 8px;
}

.status.pending {
  background-color: #007bff; 
}

.status.confirmed {
  background-color: #28a745;
}

.status.completed {
  background-color: #6f42c1; 
}

.status.canceled {
  background-color: #dc3545;
}

.flex {
  display: flex;
  gap: 10px;
}
